{% macro day_name(num) %}
  {%- if num == 1 -%}
    понедельник
  {%- elif num == 2 -%}
    вторник
  {%- elif num == 3 -%}
    среда
  {%- elif num == 4 -%}
    четверг
  {%- elif num == 5 -%}
    пятница
  {%- elif num == 6 -%}
    суббота
  {%- else -%}
    воскресенье
  {%- endif %}
{% endmacro %}

{% macro start_time(event) -%}
  {{ event['start'].strftime('%H:%M') }}
{%- endmacro %}

{% macro end_time(event) -%}
  {{ event['end'].strftime('%H:%M') }}
{%- endmacro %}

{% macro diff(begin, end) -%}
  {{ (end.date() - begin.date()).days }}
{%- endmacro %}
