<html>
<head>
<title>tbgc - следующее оповещеие</title>
<link rel="stylesheet" type="text/css" href="css/style.min.css" />
</head>
<body>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/social-all-chates.min.css">
<div class="col-md-8">
<div id="center-panel">
<div class="right-part">
<div class=" modal telegram all-chats" id="download">
<div class="modal-dialog">
<div class="modal-content">
<div class="all_header_wp">
<div class="chats-android-header">
<div class=" chats-android-header-bottom">
<div class="back-icon">
<img alt="image" src="images/telegram-back-icon.png">
</div>
<div class="modal-title">
<div class="modal-title-img telegram-android-img">
<img alt="image" src="images/profile.jpg">
</div>
<span class="modal-title-content telegram-content-name">
<span class="header-title name-name">DancingFish_расписание</span>

<span class="online-status text-status" style="display: block;">очень много подписчиков</span>
</span>
</div>
<div class="more-icon telegram-header-icon-more ">
<img alt="image" src="images/telegram-header-dots.png">
</div>
</div>
</div>
<div class="modal-body telegram-body">

<div class="message message-received is-not remove">
<div class="message-container u-table telegram-received">
<div class="message-message u-tableCell u-alignBottom">
<div class="message-bubble Caret Caret-right whatsapp-caret">
<div class="message-text whatsapp-text telegram-text">
<p>(много других важных оповещений)</p>
<div class="telegram-meassage-time-status">
<span>0:00</span>
</div>
</div>
<div class="telegram-received-carat">
<img alt="image" src="images/anroid-telegram-left-carat.png">
</div>

</div>
</div>
</div>
<div class="message-footer">
<span class="message-footerItem">
</span>
</div>
<div class="clearfix"></div>
</div>

{% if content.notifications %}
{% for notification in content.notifications %}
    <div>
    <span style="
        margin: 20px auto 10px auto;
        display: table;
        padding: 0px 10px 0px 10px;
        background:rgba(128, 128, 128, 0.5);
        border-radius: 15px;
        font-weight: 600;
    ">
    <p style="color:white; margin: 0;">{{ notification.time.strftime('%d %B') }}</p>
    </span>
    </div>

    <div class="message message-received is-not remove">
    <div class="message-container u-table whatsapp-received telegram-received">
    <div class="message-message u-tableCell u-alignBottom">
    <div class="message-bubble Caret Caret-right whatsapp-caret">
    <div class="message-text whatsapp-text telegram-text">
    <p>{{ notification.text  }}</p>
    <div class="telegram-meassage-time-status">
    <span>{{ notification.time.strftime('%H:%M') }}</span>
    </div>
    </div>
    <div class="telegram-received-carat"><img alt="image" src="images/anroid-telegram-left-carat.png"></div>

    </div>
    </div>
    </div>
    <div class="message-footer">
    <span class="message-footerItem">
    </span>
    </div>
    <div class="clearfix"></div>
    </div>
{% endfor %}
{% else %}
    <div class="message message-received is-not remove">
    <div class="message-container u-table telegram-received">
    <div class="message-message u-tableCell u-alignBottom">
    <div class="message-bubble Caret Caret-right whatsapp-caret">
    <div class="message-text whatsapp-text telegram-text">
    <p>(а новых в течение ближайшей недели не обнаружено)</p>
    <div class="telegram-meassage-time-status">
    <span>0:00</span>
    </div>
    </div>
    <div class="telegram-received-carat">
    <img alt="image" src="images/anroid-telegram-left-carat.png">
    </div>

    </div>
    </div>
    </div>
    <div class="message-footer">
    <span class="message-footerItem">
    </span>
    </div>
    <div class="clearfix"></div>
    </div>
{% endif %}

</div>
</div>
<div class="all_footer_wp">
<div class="telegram-android-footer">
<div class="post_write_comment">
<div class="txt" style="color: #6496C8; width: 322">
<div class="text_block">
<div class="comment">
<center><b>ВКЛ. ЗВУК</b></center>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>

</div>
</div>
</body>
</html>
