<html>
  <body>
    <p>Time bounds: {{ content.time_bounds[0] }} - {{ content.time_bounds[1] }}</p>
    <p>Last event notify time: {{ content.config.last_time }}</p>

    {% if content.events %}
      Events date: {{ content.events.date }}
      {% for event in content.events.total %}
        <p>{{ event }}</p>
      {% endfor %}
      {% for event in content.events.timed %}
        <p>{{ event['start'] }}-{{ event['end'] }} ({{ event['transparency'] }}) -  {{ event['summary'] }}</p>
      {% endfor %}
    {% else %}
      <p>No upcoming events found.</p>
    {% endif %}
    
    <p>Last event time: {{ content.last_event }}</p>
    <p>Time to remind: {{ content.isTime }}</p>
  </body>
</html>
