{% from 'macroses.j2' import day_name, start_time, end_time %}

{%- if diff.days == 0 -%}
  Сегодня 
{%- elif diff.days == 1 -%}
  Завтра
{%- else -%}
  {{ (now + diff).strftime('%d.%m') }}
{%- endif -%}

, {{ day_name((now + diff).isoweekday()) }}

{%- if total_summary != '' -%}
  , {{ total_summary }}
{%- endif -%}

{% if events %}
  {%- if events[0]['summary'] == '' -%}
    {%- set list = namespace(simple = False) -%}

    {# space #} {# space #}

    {%- for event in events %}
      {% if not loop.first %}
        {% if loop.last -%}
          {# space #} и {# space #}
        {%- else -%}
          , {# space #}
        {%- endif %}
      {% endif -%}

      {% if event['transparency'] == 'transparent' -%} 
        {% set list.simple = False -%}

        с {{ start_time(event, datetime) }} до {{ end_time(event, datetime) }}
      {%- else -%}
        {% if not list.simple -%}
          в {# space #}

          {%- set list.simple = True -%}
        {% endif -%}

        {{ start_time(event, datetime) }} 
      {%- endif %}
    {%- endfor %}
  {%- else %}
    {% for event in events +%}
      {# newline #}
      {{- start_time(event, datetime) }}

      {%- if event['transparency'] == 'transparent' -%} 
        -{{ end_time(event, datetime) }}
      {%- endif -%} 
      {# space #} - {{ event['summary'] -}}
    {% endfor %}
  {% endif %}
{% elif total_summary == '' %}
  Ничего не будет.
{% endif %}
