{% if events %}
  {% macro day_name(num) -%}
    {% if num == 1 
      %}понедельник{%
    elif num == 2
      %}вторник{%
    elif num == 3
      %}среда{%
    elif num == 4
      %}четверг{%
    elif num == 5
      %}пятница{%
    elif num == 6
      %}суббота{%
    else
      %}воскресенье{%
    endif %}
  {%- endmacro %}
  {% macro start_time(event) -%}
    {{ datetime.fromisoformat(event['start'].get('dateTime', event['start'].get('date'))).strftime('%H:%M') }}
  {%- endmacro %}
  {% if diff == 0
    %}Сегодня{% 
  elif diff == 1
    %}Завтра{% 
  else 
    %}{{ datetime.fromisoformat(events[0]['start'].get('dateTime', events[0]['start'].get('date'))).strftime('%d.%m') }}{% 
  endif %}, {{ day_name(datetime.fromisoformat(events[0]['start'].get('dateTime', events[0]['start'].get('date'))).strftime('%W') | int) }}{%
  if events|length== 1 %}, {{ events[0]['summary'] }} в {{ start_time(events[0]) }} {% 
  else %}
    {% for event in events %}
  {{ start_time(event) }} - {{ event['summary'] }}
    {% endfor %}
  {% endif %}
{% else %}
No upcoming events found.
{% endif %}
