name: Test and deploy

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.7
      uses: actions/setup-python@v3
      with:
        python-version: "3.7"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        #pip install pytest
        #if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip3 install -r requirements.txt
    - name: Run tests
      run: python -m pytest -v
    - name: Build the Docker image
      run: |
        echo '${{secrets.GOOGLE_KEY}}' > civil-hash.json
        docker build . --file Dockerfile --tag tbgc:$(date +%s)
    - name: Deploy
      if: github.ref == 'refs/heads/main' || 
          github.ref == 'refs/heads/develop'
      uses: akhileshns/heroku-deploy@v3.12.12
      with:
        heroku_api_key: ${{secrets.HEROKU_API_KEY}}
        heroku_app_name: ${{ github.ref == 'refs/heads/main' && 'tbgc' || 'tbgc-dev' }}
        heroku_email: ${{secrets.HEROKU_EMAIL}}
        usedocker: true
      env:
        HD_TELEGRAM_BOT_TOKEN: ${{secrets.TELEGRAM_BOT_TOKEN}}
        HD_TELEGRAM_CHANNEL_ID: ${{ github.ref == 'refs/heads/main' && secrets.TELEGRAM_CHANNEL_ID || secrets.TELEGRAM_CHANNEL_DEV_ID }}
        HD_GOOGLE_CALENDAR_ID: ${{secrets.GOOGLE_CALENDAR_ID}}
    - name: Clear hash
      if: always()
      run: rm civil-hash.json
